@mixin font-face($family, $url, $weight: normal, $style: normal, $display: swap) {
  $font-path: '../../../fonts/';

  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    font-display: $display;
    src:
      url('#{$font-path}#{$url}.woff2') format('woff2'),
      url('#{font-path}#{$url}.woff') format('woff');
  }
}
