@import '../../app/styles/global.scss';

@mixin background-image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.baseFooter {
  padding: 0;
  background: #333;
  font-size: 16px;
}
.baseFooter__container {
  max-width: 1380px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 16px;
}
.baseFooter__sites {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}
.baseFooter__sitesLeft {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100% - 360px);
}
.siteLogo__wrapper {
  flex: 1 0 33.33%;
  margin-bottom: 14px;
  &:nth-child(2) {
    margin-left: -55px;
  }
  &:nth-child(3) {
    margin-left: -115px;
  }
}
.siteLogo__link {
  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}
.baseFooter__iconDnsLogo {
  height: 17px;
  cursor: pointer;
  @include background-image('../../app/assets/img/footer/dns.svg');
  width: 67px;
}
.baseFooter__iconDnsClub {
  height: 17px;
  cursor: pointer;
  @include background-image('../../app/assets/img/footer/dnsClub.svg');
  width: 111px;
}
.baseFooter__iconDnsTechno {
  height: 17px;
  cursor: pointer;
  @include background-image('../../app/assets/img/footer/dnsTechno.svg');
  width: 157px;
}
.baseFooter__iconDnsGroup {
  height: 17px;
  cursor: pointer;
  @include background-image('../../app/assets/img/footer/dnsGroup.svg');
  width: 131px;
}
.baseFooter__sitesRight {
  width: 297px;
  margin-left: 60px;
}
.baseFooter__main {
  border-bottom: 1px solid #444;
  padding-top: 14px;
}
.baseFooter__links {
  display: flex;
  justify-content: space-between;
}
.baseFooter__menuLinksMobile {
  display: none;
  font-size: 14px;
}
.mobileMenu {
  margin-bottom: 20px;
  width: 100%;
}
.mobileMenu__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.mobileMenu__group {
  width: auto;
}
.mobileMenu__title {
  display: block;
  padding: 12px 0 15px;
  color: #fff;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}
.mobileMenu__submenu {
  font-size: 16px;
  line-height: 18px;
  transition: height 0.3s;
  overflow: hidden;
  padding-left: 0;
}
.mobileMenu__linkWrapper {
  margin-bottom: 12px;
  &:first-child {
    margin-top: 30px;
  }
}
.mobileMenu__submenuLink {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  &:hover {
    color: #ffa218;
  }
}
.menuLinksDesktop {
  display: flex;
}
.baseFooter__mainLeft {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100% - 360px);
  margin-bottom: 0;
}
.navmenu {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navmenu__group {
  margin-bottom: 32px;
  min-width: 246px;
  &:nth-child(2) {
    width: 523px;
    margin-left: 60px;
    ul {
      column-count: 2;
    }
  }
}
.navmenu__title {
  display: block;
  padding: 0 0 20px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 20px;
  border-bottom: 1px solid #4e4e4e;
}
.navmenu__submenu {
  font-size: 16px;
  transition: height 0.3s;
  overflow: hidden;
  padding: 0;
}
.navmenu__linkWrapper {
  max-width: 246px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}
.navmenu__submenuLink {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #ffa218;
  }
}
.appsIcon {
  width: 100%;
  margin-bottom: 20px;
}
.appsIcon__appsLinks {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.appsIcon__iconGooglePlay {
  width: 135px;
  height: 40px;
  cursor: pointer;
  transition: filter 0.3s;
  @include background-image('../../app/assets/img/footer/googlePlay.svg');
  &:hover {
    filter: brightness(110%);
  }
}
.appsIcon__iconAppGallery {
  width: 135px;
  height: 40px;
  cursor: pointer;
  @include background-image('../../app/assets/img/footer/appGallery.svg');
  &:hover {
    filter: brightness(110%);
  }
}
.appsIcon__iconRuStore {
  width: 135px;
  height: 40px;
  cursor: pointer;
  @include background-image('../../app/assets/img/footer/ruStore.svg');
  &:hover {
    filter: brightness(110%);
  }
}
.appsIcon__iconAppStore {
  width: 135px;
  height: 40px;
  cursor: pointer;
  @include background-image('../../app/assets/img/footer/appStore.svg');
  &:hover {
    filter: brightness(110%);
  }
}
.menuContacts {
  min-width: 190px;
  width: 300px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
  justify-content: flex-start;
  align-items: flex-start;
}
.baseFooter__mainRight {
  width: 100%;
  max-width: 297px;
  margin-left: 195px;
}
.menuContacts__title {
  display: block;
  padding: 0 0 20px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
  border-bottom: 1px solid #4e4e4e;
  width: 100%;
}
.menuContacts__phoneAndWorktime {
  font-size: 16px;
  font-weight: 700;
  margin-top: 21px;
  margin-bottom: 0;
}
.phoneAndWorktime__number {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: #f28a1e;
    transition: 0.5s;
  }
}
.menuContacts__shopAddress {
  margin-top: 6px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  cursor: pointer;
  a {
    &:hover {
      color: #f28a1e;
      transition: 0.5s;
    }
  }
}
.menuContacts__subscription {
  padding-right: 17px;
  margin-top: 24px;
  width: 100%;
  max-width: 297px;
}
.subscription__title {
  margin: 0 0 8px;
  font-size: 16px;
}
.subscription__form {
  width: 100%;
}
.subscription__inputContainer {
  display: flex;
  width: 100%;
}
.subscription__input {
  border-radius: 8px 0 0 8px;
  border: none;
  color: #777;
  display: block;
  font-size: 16px;
  padding: 12px;
  padding-right: 0;
  width: inherit;
  line-height: normal;
  margin: 0;
  height: 46px;
}
.subscription__submitIcon {
  border-radius: 0 8px 8px 0;
  background-color: #fff;
  padding: 0 12px;
  text-align: center;
  top: 1px;
  right: 1px;
  font-size: 20px;
  color: #777;
  cursor: pointer;
  height: 100%;
  line-height: 46px;
}
.subscription__policy {
  color: #8c8c8c;
  margin-top: 10px;
  line-height: 14px;
  font-size: 12px;
}
.subscription__policyLink {
  cursor: pointer;
  color: #0d61af;
  text-decoration: none;
  &:hover {
    color: #fc8507;
  }
}
.subscription__messageContainer {
  background-color: #ebffed;
  border-radius: 8px;
  color: #4e4e4e;
  font-size: 14px;
  max-width: 280px;
  padding: 15px 35px 15px 15px;
  width: 100%;
  position: relative;
  margin-top: 12px;
}
.subscription__message {
  margin: 0;
  white-space: normal;
  line-height: 1.5;
}
.subscription__messageClose {
  position: absolute;
  right: 15px;
  top: calc(50% - 8px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 5px;
  font-size: 20px;
  color: #9fa4a8;
  cursor: pointer;
}
.menuContacts__social {
  display: flex;
  width: 100%;
  padding-right: 17px;
  margin-top: 22px;
  margin-bottom: 16px;
  justify-content: space-between;
}
.social__links {
  display: flex;
  width: auto;
  justify-content: space-between;
}
.social__link {
  cursor: pointer;
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}
.menuContacts__iconDnsVk {
  height: 38px;
  width: 38px;
  transition: filter 0.3s;
  @include background-image('../../app/assets/img/footer/vk.svg');
  &:hover {
    filter: brightness(120%);
  }
}
.menuContacts__iconDnsYouTube {
  height: 38px;
  width: 38px;
  transition: filter 0.3s;
  @include background-image('../../app/assets/img/footer/youTube.svg');
  &:hover {
    filter: brightness(120%);
  }
}
.support__links {
  display: flex;
  gap: 24px;
}
.support__iconDnsSbp {
  height: 38px;
  width: 68px;
  transition: filter 0.3s;
  @include background-image('../../app/assets/img/footer/sbp.svg');
  &:hover {
    filter: brightness(120%);
  }
}
.support__iconDnsAkit {
  height: 38px;
  width: 38px;
  transition: filter 0.3s;
  @include background-image('../../app/assets/img/footer/akit.svg');
  &:hover {
    filter: brightness(120%);
  }
}
.menuContacts__findError {
  font-size: 14px;
  color: #999;
  line-height: 20px;
  display: block;
  margin-bottom: 20px;
}
.menuContacts__apps {
  display: none;
}
.baseFooter__copyright {
  padding: 16px 0;
  font-size: 14px;
  color: #999;
  line-height: 20px;
}
@media (max-width: 1300px) {
  .baseFooter__mainRight {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .baseFooter__sites {
    display: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .baseFooter__main {
    margin-top: 32px;
  }
  .navmenu__group {
    &:nth-child(2) {
      width: auto;
      margin: 0 20px;
      ul {
        column-count: 1;
      }
    }
  }
  .menuContacts__title {
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1199px) {
  .navmenu {
    justify-content: space-around;
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 1199px) {
  .menuContacts {
    align-items: flex-start;
  }
}
@media only screen and (max-width: 1198px) {
  .baseFooter__mainLeft {
    width: 100%;
    max-width: unset;
  }
  .menuContacts__title {
    font-weight: 700;
    padding-bottom: 12px;
  }
}
@media (max-width: 992px) {
  .baseFooter {
    margin-bottom: 50px;
    overflow: hidden;
  }
}
@media (max-width: 990px) {
  .mobileMenu {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .baseFooter__main {
    flex-direction: column;
    width: 100%;
    padding-top: 0;
    border-bottom: none;
  }
  .baseFooter__links {
    flex-direction: column;
  }
  .baseFooter__menuLinksMobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .mobileMenu__wrapper {
    justify-content: flex-start;
    margin-top: 20px;
  }
  .mobileMenu__title {
    background: hsla(0, 0%, 100%, 0.06);
    border-radius: 8px;
    padding: 8px 30px 8px 8px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    &:first-child {
      margin-right: 15px;
    }
    &::after {
      display: block;
      content: '';
      position: absolute;
      right: 12px;
      top: 14px;
      width: 11px;
      height: 6px;
      background-image: url(../../app/assets/img/footer/arrow.svg);
      transition: all 0.3s linear;
    }
  }
  .mobileMenu__title.flip180 {
    &::after {
      transform: rotatex(180deg);
    }
    &:hover {
      color: #ffa218;
    }
  }
  .baseFooter__mainLeft {
    display: none;
  }
  .baseFooter__mainRight {
    max-width: unset;
  }
  .menuContacts__title {
    display: none;
  }
  .menuContacts__phoneAndWorktime {
    order: 3;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .menuContacts__shopAddress {
    order: 4;
    width: 100%;
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
    margin-bottom: 20px;
    margin-top: 0;
    a {
      display: block;
      padding: 17px 40px 17px 0;
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      position: relative;
      &::after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        right: 0;
        width: 12px;
        height: 12px;
        background-image: url(../../app/assets/img/footer/arrow.svg);
        background-repeat: no-repeat;
      }
    }
  }
  .menuContacts__subscription {
    margin-top: 10px;
    width: 100%;
    max-width: unset;
    padding: 0;
  }
  .menuContacts__socialRu {
    flex-direction: row-reverse;
  }
  .social__links {
    order: 2;
  }
  .menuContacts__findError {
    display: none;
  }
  .menuContacts__apps {
    display: block;
    order: 5;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .baseFooter__main {
    border: none;
  }
  .menuContacts__shopAddress {
    a {
      box-shadow:
        0 -1px 0 #404040,
        0 1px 0 #404040;
    }
  }
  .baseFooter__copyright {
    padding-top: 0;
  }
}
