* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  background-color: #0000;
  text-decoration: none;
}

.baseFooter {
  margin: 30px 0 0;
  padding: 0;
  background: #333;
  font-size: 16px;
}

.baseFooter__container {
  max-width: 1380px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 16px;
}

.baseFooter__sites {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}

.baseFooter__sitesLeft {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100% - 360px);
}

.siteLogo__wrapper {
  flex: 1 0 33.33%;
  margin-bottom: 14px;
}

.siteLogo__wrapper:nth-child(2) {
  margin-left: -55px;
}

.siteLogo__wrapper:nth-child(3) {
  margin-left: -115px;
}

.baseFooter__iconDnsLogo {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 17px;
  cursor: pointer;
  background-image: url(./svg/dns.svg);
  width: 67px;
}

.baseFooter__iconDnsLogo:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.baseFooter__iconDnsClub {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 17px;
  cursor: pointer;
  background-image: url(./svg/dnsClub.svg);
  width: 111px;
}

.baseFooter__iconDnsClub:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.baseFooter__iconDnsTechno {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 17px;
  cursor: pointer;
  background-image: url(./svg/dnsTechno.svg);
  width: 157px;
}

.baseFooter__iconDnsTechno:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.baseFooter__iconDnsGroup {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 17px;
  cursor: pointer;
  background-image: url(./svg/dnsGroup.svg);
  width: 131px;
}

.baseFooter__iconDnsGroup:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.baseFooter__sitesRight {
  width: 297px;
  margin-left: 60px;
}

.baseFooter__main {
  border-bottom: 1px solid #444;
  padding-top: 14px;
}

.baseFooter__links {
  display: flex;
  justify-content: space-between;
}

.baseFooter__menuLinksMobile {
  display: none;
  font-size: 14px;
}

.mobileMenu {
  margin-bottom: 20px;
  width: 100%;
}

.mobileMenu__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.mobileMenu__group {
  border-bottom: 1px solid #444;
}

.mobileMenu__title {
  display: block;
  padding: 12px 0 15px;
  color: #fff;
  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.menuLinksDesktop {
  display: flex;
}

.baseFooter__mainLeft {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100% - 360px);
  margin-bottom: 0;
}

.navmenu {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navmenu__group {
  margin-bottom: 32px;
  min-width: 246px;
}

.navmenu__group:nth-child(2) {
  width: 523px;
  margin-left: 60px;
}

.navmenu__group:nth-child(2) ul {
  column-count: 2;
}

.navmenu__title {
  display: block;
  padding: 0 0 20px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 20px;
  border-bottom: 1px solid #4e4e4e;
}

.navmenu__submenu {
  font-size: 16px;
  transition: height 0.3s;
  overflow: hidden;
  padding: 0;
}

.navmenu__submenuLink {
  max-width: 246px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  cursor: pointer;
}

.navmenu__submenuLink:hover {
  color: #ffa218;
}

.navmenu__submenuLink:not(:last-child) {
  margin-bottom: 12px;
}

.appsIcon {
  width: 100%;
  margin-bottom: 20px;
}

.appsIcon__appsLinks {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.appsIcon__iconGooglePlay {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 135px;
  height: 40px;
  cursor: pointer;
  background-image: url(./svg/googlePlay.svg);
}

.appsIcon__iconAppGallery {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 135px;
  height: 40px;
  cursor: pointer;
  background-image: url(./svg/appGallery.svg);
}

.appsIcon__iconRuStore {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 135px;
  height: 40px;
  cursor: pointer;
  background-image: url(./svg/ruStore.svg);
}

.appsIcon__iconAppStore {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 135px;
  height: 40px;
  cursor: pointer;
  background-image: url(./svg/appStore.svg);
}

.menuContacts {
  min-width: 190px;
  width: 300px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 14px;
  justify-content: flex-start;
  align-items: flex-start;
}

.baseFooter__mainRight {
  width: 100%;
  max-width: 297px;
  margin-left: 195px;
}

.menuContacts__title {
  display: block;
  padding: 0 0 20px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;
  border-bottom: 1px solid #4e4e4e;
  width: 100%;
}

.menuContacts__phoneAndWorktime {
  font-size: 16px;
  font-weight: 700;
  margin-top: 21px;
  margin-bottom: 0;
}

.phoneAndWorktime__number {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.phoneAndWorktime__number:hover {
  color: #f28a1e;
  transition: 0.5s;
}

.menuContacts__shopAddress {
  margin-top: 6px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  cursor: pointer;
}

.menuContacts__shopAddress:hover {
  color: #f28a1e;
  transition: 0.5s;
}

.menuContacts__subscription {
  padding-right: 17px;
  margin-top: 24px;
  position: relative;
  width: 100%;
  max-width: 297px;
}

.subscription__title {
  margin: 0 0 8px;
  font-size: 16px;
}

.subscription__form {
  width: 100%;
}

.subscription__inputContainer {
  position: relative;
  width: 100%;
}

.subscription__input {
  border-radius: 8px;
  border: 1px solid #eee;
  color: #777;
  display: block;
  font-size: 16px;
  padding: 12px;
  width: inherit;
  line-height: normal;
  margin: 0;
  height: 46px;
}

.subscription__submitIcon {
  border-radius: 8px;
  background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), #fff 20%, #fff);
  position: absolute;
  padding: 0 12px;
  text-align: center;
  top: 1px;
  right: 1px;
  font-size: 20px;
  color: #777;
  cursor: pointer;
  height: 45px;
  line-height: 46px;
}

.subscription__policy {
  color: #8c8c8c;
  margin-top: 10px;
  line-height: 14px;
  font-size: 12px;
}

.subscription__policyLink {
  cursor: pointer;
  color: #0d61af;
  text-decoration: none;
}

.subscription__messageContainer {
  background-color: #ebffed;
  border-radius: 8px;
  color: #4e4e4e;
  font-size: 14px;
  max-width: 280px;
  padding: 15px 35px 15px 15px;
  width: 100%;
  position: relative;
  margin-top: 12px;
}

.subscription__message {
  margin: 0;
  white-space: normal;
  line-height: 1.5;
}

.subscription__messageClose {
  position: absolute;
  right: 15px;
  top: calc(50% - 8px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 5px;
  font-size: 20px;
  color: #9fa4a8;
  cursor: pointer;
}

.menuContacts__social {
  display: flex;
  width: 100%;
  padding-right: 17px;
  margin-top: 22px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.social__links {
  display: flex;
  width: auto;
  justify-content: space-between;
}

.social__link {
  cursor: pointer;
  margin-right: 8px;
}

.social__link:last-child {
  margin-right: 0;
}

.menuContacts__iconDnsVk {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 38px;
  width: 38px;
  transition: filter 0.3s;
  background-image: url(./svg/vk.svg);
}

.menuContacts__iconDnsYouTube {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 38px;
  width: 38px;
  transition: filter 0.3s;
  background-image: url(./svg/youTube.svg);
}

.support__links {
  display: flex;
  gap: 24px;
}

.support__iconDnsSbp {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 38px;
  width: 38px;
  transition: filter 0.3s;
  background-image: url(./svg/sbp.svg);
}

.support__iconDnsAkit {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 38px;
  width: 38px;
  transition: filter 0.3s;
  background-image: url(./svg/akit.svg);
}

.menuContacts__findError {
  font-size: 14px;
  color: #999;
  line-height: 20px;
  display: block;
  margin-bottom: 20px;
}

.baseFooter__copyright {
  padding: 16px 0;
  font-size: 14px;
  color: #999;
  line-height: 20px;
}
