.comment {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  padding: 20px 32px;
  margin: auto;
  background-color: white;
  color: #333;
  box-shadow: 0 2px 2px 0 #0000001a;
  border: 1px solid #0000001a;
  border-radius: 16px;
}

.comment--title {
  font-size: 18px;
  margin-bottom: 24px;
}

.comment--input {
  border: 1px solid #0000001a;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  margin-bottom: 24px;
  border-radius: 8px;
}

.comment--button {
  width: 112px;
  height: 44px;
  align-self: flex-end;
  font-family: inherit;
  font-size: 16px;
  background-image: linear-gradient(0deg, rgb(252, 133, 7), rgb(255, 162, 24));
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(0deg, rgb(252, 143, 17), rgb(255, 172, 34));
  }

  &:focus {
    box-shadow: 0px 0px 5px 0px rgb(252, 143, 17);
  }
}
