.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 300px;
  max-height: 550px;
  color: var(--text-color);
  margin: 0 20px 0 0;

  .card__banner {
    img {
      width: 100%;
      max-width: 350px;
      border-radius: 12px;
    }
    margin-bottom: 20px;
  }

  .card__title {
    a {
      color: var(--text-color);
      font-size: 16px;
      font-weight: bold;
      line-height: 24px;
    }
    margin-bottom: 4px;
  }

  .card__discription {
    p {
      letter-spacing: 0.2px;
      line-height: 24px;
    }
    margin-bottom: 8px;
  }

  .card__tags {
    height: 22px;
    margin: auto 0 8px;

    .card__tag {
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }
}

.tag--new {
  color: #94ac3c;
  background-color: #94ac3c25;
}

.tag--commonInfo {
  color: #a3a745;
  background-color: #a3a74525;
}

.tag--exclusives {
  color: #ea6c08;
  background-color: #ea6c0825;
}

.tag--shops {
  color: #5092e5;
  background-color: #5092e525;
}

.tag--services {
  color: #a745a2;
  background-color: #a745a225;
}

.tag--advertising {
  color: #429a9f;
  background-color: #20cdd625;
}
