.block {
  max-width: 1062px;
  margin: auto;
  color: var(--text-color);
}

.block__container {
  box-shadow: var(--block-shadow);
  background-color: var(--white);
  max-width: 1060px;
  border-radius: 16px;
  overflow: hidden;
  font-size: 18px;

  .block--img {
    max-width: 100%;
  }

  .block__post {
    display: flex;
    flex-direction: column;
    padding: 20px 32px;
  }

  .block__stat {
    display: flex;
    align-self: flex-end;
    align-items: center;
  }
}
