.news {
  max-width: 1062px;
  margin: auto;
  color: #333;
}

.news__container {
  box-shadow: 0 2px 2px 0 #0000001a;
  border: 1px solid #0000001a;
  background-color: white;
  max-width: 1060px;
  border-radius: 16px;
  overflow: hidden;
  font-size: 18px;

  .news--img {
    max-width: 100%;
  }

  .news__post {
    display: flex;
    flex-direction: column;
    padding: 20px 32px;
  }

  .news__stat {
    align-self: flex-end;
  }
}
