@import '../../app/index.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f6f6f6;
  font-family: 'PT Sans', sans-serif;
}
img {
  vertical-align: middle;
}
p {
  margin: 0 0 10px;
}

.ow-opinions-container {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 24px;
}
.ow-filters {
}
.opinions-widget__filters {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 20px;
  padding-bottom: 8px;
}
.ow-filters__counts-filters-wrapper {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 20px;
}
.ow-filters__count-filter-btn {
  background-color: #f2f2f2;
  border-radius: 8px;
  color: #4e4e4e;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  margin: 4px 8px 0 0;
  padding: 8px 12px;
  white-space: nowrap;
}
.ow-filters__count-filter-btn_active {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 16px;
  font-weight: 700;
}
.ow-filters__count-filter-btn-count {
  padding-left: 5px;
}
.ow-filters__count-filter-btn-count_active {
  color: #8c8c8c;
}
.ow-filters__search-filters-wrapper {
  display: flex;
}
.ow-filters__search {
  margin-bottom: 4px;
  position: relative;
  width: calc(100% - 210px);
}
.ow-filters__search-input {
  background: #f2f2f2;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  line-height: 36px;
  outline: none;
  padding: 0 70px 0 12px;
  width: 100%;
}
.ow-filters__search-icon {
  cursor: pointer;
  height: 36px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 36px;
}
.ow-filters__search-icon::before {
  position: relative;
}
.ow-filters__search-icon_search {
  color: #afafaf;
}
.ow-filters__search-icon_search::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.828 4.75a6.078 6.078 0 100 12.156 6.078 6.078 0 000-12.156zM3.25 10.828a7.578 7.578 0 1113.441 4.801l4.161 4.162a.75.75 0 11-1.06 1.06l-4.162-4.16a7.578 7.578 0 01-12.38-5.862z' fill='%23AFAFAF'%3E%3C/path%3E%3C/svg%3E");
  color: #afafaf;
  top: 7px;
}
.ow-filters__search-icon_clear {
  color: #afafaf;
  font-size: 20px;
  right: 36px;
}
.ow-filters__search-icon_hidden {
  display: none;
}
.ow-filters__rating {
  display: flex;
  margin-top: 8px;
}
.ui-checkbox-group {
}
.ui-checkbox {
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 8px 0 8px 23px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.ow-filters__rating-item {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 7px 12px 7px 30px;
  white-space: nowrap;
}
.ow-filters__rating-item + .ow-filters__rating-item {
  margin-left: 8px;
}
.ow-filters__rating-item span i {
  color: #ffa319;
  height: 10px;
  width: 10px;
}
.ow-filters__rating-item span i::before {
  content: '\2605';
  speak: none;
  display: inline-block;
  font-family: i-icon !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}
.ow-filters__rating-item_count {
  color: #4e4e4e;
  display: inline-block;
  line-height: 16px;
  margin-left: 8px;
}
.ui-checkbox__input {
  height: 0;
  margin: 0 !important;
  opacity: 0;
  position: absolute;
  top: 50%;
}
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}
.ui-checkbox__box {
  background: #fff;
  border: 1px solid #afafaf;
  border-radius: 4px;
  box-sizing: border-box;
  height: 16px;
  left: 0;
  position: absolute;
  top: 10px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.23, 1);
  width: 16px;
}
.ui-checkbox {
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 8px 0 8px 23px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.ow-opinions {
  position: relative;
}
.opinions-widget__opinions {
}
.ow-opinion {
  padding-bottom: 15px;
  position: relative;
}
.ow-opinion + .ow-opinion {
  margin-top: 20px;
}
.ow-opinions__item {
  border-bottom: 1px solid #d9d9d9;
}
.ow-opinion__header {
  margin-bottom: 28px;
}
.ow-opinion__header-top {
  margin-bottom: 13px;
}
.ow-opinion__header-left {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.profile-info {
}
.profile-info__user {
  align-items: center;
  display: flex;
}
.profile-info__avatar-wrapper {
  display: flex;
  height: 46px;
  margin-right: 15px;
  position: relative;
  width: 46px;
}
.profile-info__avatar {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 46px;
  justify-content: center;
  padding: 4px;
  width: 46px;
}
.profile-info__avatar img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.loaded {
}
.profile-info__level {
  position: absolute;
}
.profile-info__user-data {
  align-items: center;
  display: flex;
}
.profile-info__name {
  color: #0d61af;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 26px;
  margin-right: 12px;
  transition-duration: 0.3s;
}
.profile-info__activity .ow-opinion__date-site {
  display: flex;
  flex-direction: column;
}
.ow-opinion__date-site {
  color: #8c8c8c;
  font-size: 14px;
}
.ow-opinion__date {
  margin-right: 9px;
}
.ow-opinion__site {
}
.ow-opinion__report {
}
.profile-info__status {
}
.profile-info__status_hidden {
}
.ow-opinion__header-right {
}
.ow-opinion__rating {
  display: none;
}
.star-rating {
  display: flex;
}
.star-rating__stars {
  display: flex;
}
.star-rating__star[data-state='selected'] svg path {
  fill: #ff7400;
  stroke: #ff7400;
}
.star-rating__star svg path {
  fill: transparent;
  stroke: #ff7400;
}
.star-rating__star {
  padding: 0 5px;
}
.ow-opinion-mobile__user-ratings {
  padding-top: 12px;
}
.opinion-rating-slider {
  color: inherit;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.opinion-rating-slider__tab {
  display: flex;
  margin-right: 8px;
  outline: none;
}
.ow-opinion-mobile__user-ratings .opinion-rating-slider__tab {
  background: #eee;
  border-radius: 8px;
}
.opinion-rating-slider__tab-title {
  align-items: center;
  font-size: 14px;
  padding: 8px;
  white-space: nowrap;
}
.ow-opinion-mobile__user-ratings .opinion-rating-slider__tab-title {
  color: #000;
  display: inline-flex;
  flex-direction: row-reverse;
}
.opinion-rating-slider__tab-title_name {
  margin-right: 5px;
}
.ow-opinion__header-bottom {
}
.opinion-multicard {
  margin-bottom: 23px;
}
.opinion-multicard-slider {
  color: inherit;
  display: flex;
  flex-direction: row;
  height: 100%;
  scrollbar-width: thin;
}
.opinion-multicard-slider__tab {
  align-items: center;
  background: #eee;
  border-radius: 8px;
  display: flex;
  font-size: 14px;
  margin-right: 8px;
  outline: none;
  padding: 8px;
  white-space: nowrap;
}
.ow-opinion__info-list {
  margin: 0;
  padding: 0;
}
.ow-opinion__info-list-item {
  color: #3a3a3a;
  font-size: 14px;
  list-style: none;
  margin-bottom: 8px;
}
.ow-opinion__info-title {
  font-weight: 700;
  margin-right: 4px;
}
.ow-opinion__info-desc {
}
.ow-opinion__texts {
}
.ow-opinion__text {
  color: #333;
  font-size: 16px;
  margin-bottom: 20px;
}
.ow-opinion__text-title {
  align-items: center;
  display: flex;
  font-weight: 700;
  margin-bottom: 12px;
}
.ow-opinion__text-desc {
  line-height: 24px;
  white-space: pre-wrap;
  word-break: break-word;
}
.opinions-widget__pagination {
}
.paginator-widget {
}
.paginator-widget__block {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  height: 48px;
}
.paginator-widget__block_above {
  margin-bottom: 16px;
}
.paginator-widget__more {
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: center;
  width: 100%;
}
.paginator-widget__more:link {
  color: #000;
  text-decoration: none;
}
.paginator-widget__pages {
  display: flex;
  justify-content: center;
  margin-bottom: -1px;
  width: 100%;
}
.paginator-widget__page {
  align-items: center;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  display: flex;
  flex-basis: 65px;
  flex-shrink: 1;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
}
.paginator-widget__page:link {
  color: #8c8c8c;
  text-decoration: none;
}
.paginator-widget__page_first::before {
  content: '\276E\276E';
  speak: none;
  display: inline-block;
  font-family: i-icon !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}
.paginator-widget__page_prev::before {
  content: '\276E';
  speak: none;
  display: inline-block;
  font-family: i-icon !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}
.paginator-widget__page_active {
  border-bottom-color: #fc8507;
  color: #fc8507;
}

.paginator-widget__page_active:link {
  color: #fc8507;
}
.paginator-widget__page_next::before {
  content: '\276f';
  speak: none;
  display: inline-block;
  font-family: i-icon !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}
.paginator-widget__page_last::before {
  content: '\276f\276f';
  speak: none;
  display: inline-block;
  font-family: i-icon !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
}

@media (min-width: 1200px) {
  .paginator-widget__block {
    height: 52px;
  }
}

@media (min-width: 992px) {
  .ow-opinion-mobile__user-ratings {
    overflow: hidden;
  }
  .ow-opinion-mobile__user-ratings .opinion-rating-slider__tab .star-rating {
    margin-top: -2px;
    max-height: 20px;
  }
  .ow-opinion-mobile__user-ratings .opinion-rating-slider__tab .star-rating__star {
    margin: 0 -4px;
    padding: 0;
    transform: scale(0.5);
  }
  .opinion-multicard {
    margin-right: -16px;
    overflow: hidden;
  }
  .ow-opinion-mobile__user-ratings .opinion-rating-slider__tab .star-rating__star[data-state='selected'] svg path {
    fill: #ffa319;
    stroke: #ffa319;
  }
  .ow-opinion-mobile__user-ratings .opinion-rating-slider__tab .star-rating__star svg path {
    fill: #afafaf;
    stroke: #afafaf;
  }
}

@media (min-width: 768px) {
  .ow-opinion__header-top {
    margin-bottom: 13px;
  }
  .ow-opinion__header-left {
    margin-bottom: 0;
  }
  .ow-opinion__info-list-item {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .paginator-widget__block {
    height: 58px;
  }
}
