//normalize
* {
  margin: 0;
  padding: 0;
  border: none;
}

.blockStat {
  display: flex;
  width: fit-content;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 16px;
  color: #666;
  border: 1px solid #eee;
  border-radius: 4px;

  & > div {
    margin: 5px 10px;
  }
}
.offBorder {
  border: none;
}

.icon::before {
  padding-right: 5px;
  font-family: 'i-icon';
}
.views::before {
  content: '\e105';
}
.comments::before {
  content: '\e936';
}

.button {
  font-size: 25px;
  line-height: 20px;
  background-color: white;

  &:hover {
    cursor: pointer;
    animation-name: link-hover;
    animation-duration: 0.3s;
    animation-fill-mode: both;
  }

  &::before {
    content: '\e944';
  }
}
@keyframes link-hover {
  from {
    color: #666;
  }
  to {
    color: #fc5808;
  }
}

.shareBlock {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 16px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  background-color: #fc5808;

  & li {
    padding: 5px 10px;
  }

  & li:hover {
    background-color: #e5e5e5;
  }
}
