.container {
  margin: 0 auto;
  padding: 0;
  min-height: 75%;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    width: 100%;
  }

  @media screen and (max-width: 1199px) {
    width: 960px;
  }

  @media screen and (max-width: 991px) {
    width: 768px;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.shops-block {
  margin: 0;
  padding: 0;

  &__header {
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin: 40px 0 20px;
    line-height: 1.1;
    color: inherit;
    font-style: normal;

    @media screen and (max-width: 991px) {
      font-size: 20px;
    }

    span {
      border: none;
      background: none;
      color: #0d61af;
      border-bottom: 1px dotted #0d61af;
      transition: 0.2s;
      cursor: pointer;
    }

    span:hover {
      color: #fc5808;
      border-bottom: 1px dotted #fc5808;
    }
  }

  &__main {
    margin: 0 0 40px;
    padding: 0;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  }

  &__filters {
    max-width: 100%;
    padding: 18px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 739px) {
      display: grid;
      grid-template-areas:
        'input input'
        'dropdown sort';
    }

    @media screen and (max-width: 400px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__input-search {
    width: 57%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    outline: 0;
    padding: 10px 10px 10px 12px;

    @media screen and (max-width: 1199px) {
      width: 40%;
    }

    @media screen and (max-width: 739px) {
      grid-area: input;
      width: 90%;
      justify-self: center;
    }

    input {
      width: 100%;
      outline: none;
      border: none;
    }

    &:focus-within {
      box-shadow: 0 2px 10px #d9d9d9;
    }
  }

  &__input-icon {
    margin: 0;
    padding: 0;
  }

  &__dropdown {
    font-size: 14px;
    line-height: 42px;

    button {
      font-family: inherit;
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      border-bottom: 1px dotted #0d61af;
      color: #0d61af;
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__section {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr min-content;
    box-shadow: 0 6px 9px #eee inset;
    height: 650px;

    @media screen and (max-width: 991px) {
      iframe {
        width: 364px;
      }
    }
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;

      iframe {
        border-top: 1px solid #070117;
        width: 100%;
      }
    }
  }

  &__sale-channel {
    font-weight: 500;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    color: #4e4e4e;
    padding: 30px 24px 15px;
    margin: 0;
  }

  &__shops-list {
    height: 650px;
    overflow: scroll;
    display: flex;
    flex-direction: column;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    ul:empty + label {
      display: block;
    }

    label {
      display: none;
      margin: 20px;
      width: 85%;
      word-wrap: break-word;
    }
  }

  &__sort-by-distance {
    font-family: inherit;
  }
}

.shop-list-item {
  border-bottom: 1px solid #eee;
  padding: 18px 24px;
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 991px) {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }

  &__info {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 315px;

    @media screen and (max-width: 768px) {
      max-width: 80%;
    }

    span {
      margin: 0;
      padding: 0;
    }

    span:first-of-type {
      color: #0d61af;
      font-size: 16px;
      line-height: 1.25;
      cursor: pointer;
      transition: 0.2s;
    }

    span:first-of-type:hover {
      color: #fc8507;
    }

    span:last-of-type {
      color: #333;
      text-decoration: underline dotted #333;
      text-underline-offset: 5px;
      cursor: pointer;
      font-size: 14px;
    }
  }

  &__worktime {
    color: #777;
    font-size: 14px;
  }
}
