.product {
  position: relative;
  padding: 12px;
  height: 538px;
  width: 255.5px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-size-adjust: 100%;
  color: var(--text-color);
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 2px 0;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 110px 32px 48px 76px;
  gap: 12px 0;
}

.image {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.image__link {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 200px;
  width: 217.25px;
  text-decoration-color: rgb(0, 0, 238);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  color: rgb(0, 0, 238);
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.image__picture {
  height: 200px;
  width: 146px;
  max-height: 100%;
  max-width: 100%;
  overflow-x: clip;
  overflow-y: clip;
  border: 0px none rgb(0, 0, 238);
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease-in;
}

.image__discount {
  padding: 4px;
  height: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  background-color: rgb(255, 92, 82);
  color: var(--white);
  border-radius: 14px;
}

.name {
  grid-row: 2;
  grid-column: 1;
  position: relative;
  display: block;
  max-height: 110px;
  overflow: hidden;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: color;
}
.name::after {
  content: '';
  position: absolute;
  height: 30px;
  width: 100%;
  top: 80px;
  left: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), var(--white));
}
.name:hover {
  overflow: visible;
  z-index: 2;
  color: var(--brand-color);
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: color;
}
.name:hover::after {
  display: none;
}

.name__span {
  max-height: 110px;
}
.name:hover .name__span {
  max-height: 300px;
  display: block;
  box-shadow: var(--white) 0px 0px 10px 10px;
  background-color: var(--white);
}

.product__vobler {
  margin-top: 22px;
  grid-row: 2;
  grid-column: 1;
  align-self: end;
}

.vobler {
  padding-top: 20px;
  display: flex;
  overflow: hidden;
  z-index: 1;
  height: 46px;
  width: 217px;
  background: linear-gradient(0deg, var(--white), var(--white) 65%, hsla(0, 0%, 100%, 0));
}

.vobler__name {
  position: relative;
  display: block;
  height: 22px;
  margin-bottom: 4px;
  margin-right: 4px;
  padding: 0 5px;
  min-height: 22px;
  overflow: hidden;
  border-radius: 4px;
  color: #ff6558;
  background-color: var(--white);
  font-size: 11px;
  text-wrap: nowrap;
  cursor: pointer;
}
.vobler__name::after {
  content: '';
  display: block;
  height: 22px;
  width: 100%;
  background-color: #ff6558;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
}
.vobler__name:hover::after {
  opacity: 0.2;
}

.product__stat {
  display: flex;
}

.compareCheckbox {
  margin: 0;
  min-width: 90px;
  padding: 1px 0;
  text-align: right;
}

.compareCheckbox__label {
  position: relative;
  align-items: center;
  display: inline-block;
  margin: 0;
  padding: 6px 6px 8px 26px;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(247, 247, 247);
}

.compareCheckbox__input {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  top: 15px;
  word-spacing: 0;
  opacity: 0;
  user-select: none;
}

.compareCheckbox__box {
  position: absolute;
  display: block;
  height: 16px;
  width: 16px;
  top: 7px;
  left: 6px;
  border: 1px solid rgb(175, 175, 175);
  background-color: var(--white);
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
}
.compareCheckbox__input:hover + .compareCheckbox__box {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.02);
  border-color: rgb(140, 140, 140);
}
.compareCheckbox__input:checked + .compareCheckbox__box {
  border: 6px solid rgb(252, 133, 7);
  background-color: rgb(252, 133, 7);
  animation: shrink-bounce 0.2s cubic-bezier(0.4, 0, 0.23, 1) 0s 1 normal none;
}
.compareCheckbox__input:checked + .compareCheckbox__box::after {
  content: '';
  box-sizing: content-box;
  position: absolute;
  display: block;
  height: 7px;
  width: 3px;
  left: -3px;
  top: 1px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  cursor: pointer;
  transform: rotate(45deg);
  transform-origin: 0 100%;
  animation: checkbox-check 0.125s cubic-bezier(0.4, 0, 0.23, 1) 0.25s 1 normal forwards;
}

@keyframes shrink-bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes checkbox-check {
  0% {
    border-color: var(--white);
    height: 0;
    transform: translateZ(0) rotate(45deg);
    width: 0;
  }
  33% {
    height: 0;
    transform: translateZ(0) rotate(45deg);
    width: 0.2em;
  }
  100% {
    border-color: var(--white);
    height: 0.5em;
    transform: translate3d(0, -0.5em, 0) rotate(45deg);
    width: 0.2em;
  }
}

.product__rating {
  display: flex;
  align-items: center;
  margin-left: 4px;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 18px;
  background-color: rgb(247, 247, 247);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}
.product__rating i {
  background-image: var(--star);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 18px;
  width: 12px;
  margin-right: 4px;
}
.product__rating i:first-child {
  margin-left: 0;
}
.product__rating i:last-child {
  background-image: var(--half-star);
}

.buy {
  display: flex;
  align-items: flex-start;
  min-height: 44px;
}

.buy__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-height: 44px;
  padding: 6px 0;
  border-radius: 8px;
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}
.buy__wrap:hover {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, .02);
}

.buy__price {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(252, 133, 7);
}

.buy__prev {
  display: inline-block;
  margin-left: 2px;
  font-size: 12px;
  font-weight: 400;
  text-decoration-line: line-through;
  text-decoration-color: rgb(140, 140, 140);
  color: rgb(140, 140, 140);
}

.buy__hint {
  position: absolute;
  right: 8px;
  line-height: 31px;
  color: rgb(211, 211, 211);
}
.buy__hint::before {
  content: '\e922';
  font-family: 'i-icon';
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
}

.buy__sub {
  font-size: 12px;
  line-height: 14px;
}

.wishlist {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  height: 44px;
  min-width: 44px;
  overflow: hidden;
  padding: 0;
  width: 44px;
  font-size: 20px;
  color: rgb(175, 175, 175);
  background-color: rgb(247, 247, 247);
  border: 1px solid transparent;
  outline: none;
  transition: opacity .3s;
}
.wishlist:hover {
  color: var(--black);
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, .02);
}
/* "\ea0f" */
.wishlist::before {
  content: '\ea10'; 
  display: inline-block;
  font-family: 'i-icon';
  line-height: 1;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 24px;
  font-size: 24px;
  height: 44px;
  background-color: #f7f7f7;
  width: 44px;
  margin: 0;
  margin-left: 4px;
  padding: 0;
  border: 1px solid rgb(217, 217, 217);
  cursor: pointer;
  outline: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
  border-radius: 8px;
  color: var(--text-color);
}
.cart:hover {
  box-shadow: inset 0 100px 0 hsla(0, 0%, 100%, .1);
  background-image: linear-gradient(0deg, #fc8507, #ffa218);
  color: white;
}
.cart::before {
  content: "\e94b";
  font-family: 'i-icon';
  display: inline-block;
}
.cartOnHover {
  background-image: linear-gradient(0deg, #fc8507, #ffa218);
}

.avails {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  gap: 2px;
}

.avails__link {
  text-decoration: none;
  text-transform: lowercase;
  color: #0d61af;
  transition-duration: .3s;
  transition-property: color;
}
.avails__link:hover {
  color: rgb(217, 89, 33);
}

@font-face {
  font-family: 'i-icon';
  src: url('../icon.woff2');
}