body {
  background-color: #f6f6f6;
  margin: 0;
  font-family: PTSans, Helvetica, Arial, sans-serif;
}

.info-block {
  margin: 0;
  padding: 0;
  position: relative;
  height: 640px;
  width: 100%;

  @media screen and (max-width: 768px) {
    height: 400px;
  }

  &__container {
    text-align: center;
    margin: 0;
    padding: 55px 0 0;
    z-index: 2;
    transition: opacity 1.5s ease-in;
    opacity: 0;

    @media screen and (max-width: 768px) {
      padding: 20px 0 0;
      height: 400px;
      background-size: auto 400px;
    }

    h1 {
      margin: 0 0 36px;
      padding: 0;

      font-weight: 500;
      line-height: 1.1;
      font-size: 34px;

      color: #333333;

      @media screen and (max-width: 768px) {
        padding-top: 24px;
        font-size: 20px;
      }
    }

    a {
      margin: 0;
      padding: 8px 32px;

      height: 40px;
      min-width: 219px;

      color: #333333;

      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      line-height: 26px;
      letter-spacing: 0.2px;

      background: #ffffff;
      border: solid 1px #d9d9d9;
      border-radius: 8px;

      cursor: pointer;
      transition: opacity 1s ease-in;
    }

    a:hover {
      background-image: linear-gradient(-180deg, rgba(255, 188, 11, 0.99) 0, #ff7400 100%);
      color: #ffffff;
      box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__bg {
    height: 640px;
    width: 100%;
    transition: opacity 1s ease-in;
    position: absolute;

    @media screen and (max-width: 768px) {
      height: 400px;
      background-size: auto 400px !important;
    }

    &_off {
      z-index: -1;
      opacity: 1;
      background:
        url(https://www.dns-shop.ru/files/error-page/assets/images/dns/bg-dns-off.png) no-repeat center,
        #070117;
    }

    &_on {
      z-index: -2;
      opacity: 1;
      background:
        url(https://www.dns-shop.ru/files/error-page/assets/images/dns/bg-dns-on.png) no-repeat center,
        linear-gradient(0deg, #feac64 0%, #c1b3e8 25%, #c2daff 50%);
    }
  }

  &_success &__bg_off {
    opacity: 0;
  }

  &_success &__container {
    opacity: 1;
  }
}

.links-block {
  width: 100%;
  display: flex;
  gap: 90px;
  justify-content: center;
  margin: 0 auto 40px;
  padding: 0;
  @media screen and (max-width: 991px) {
    gap: 15px;
  }
  @media screen and (max-width: 739px) {
    flex-direction: column;
    width: 230px;
    gap: 30px;
  }

  img {
    cursor: pointer;
    transition: 0.3s;
    filter: grayscale(100%);
    @media screen and (max-width: 991px) {
      height: 22px;
      width: 80%;
    }

    &:hover {
      filter: grayscale(0);
    }
  }
}
