.page {
  max-width: 1380px;
  margin: auto;

  .page--title {
    margin-bottom: 24px;
    color: var(--text-color);
  }

  .page__articles {
    margin-bottom: 20px;
  }

  .page__button {
    margin-bottom: 32px;
  }
}
