@import './styles/mixins.scss';
@import './styles/fonts.scss';

body {
  margin: 0;
  background: linear-gradient(180deg, #fff 6.1%, #f7f7f7 68.7%);
  font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
}
