.page__isLoading {
  font-size: 32px;
  width: 100%;
  height: 600px;
  margin-top: 300px;
  text-align: center;
}

.page {
  max-width: 1360px;
  min-width: 320px;
  margin: auto;

  .page__path {
    height: 40px;
    background-color: rgb(228, 226, 167);
  }

  .page--title {
    padding: 0 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 32px;
    color: var(--text-color);

    @media (max-width: 768px) {
      padding: 0 4px;
    }
  }
}

.page__content {
  padding: 0 12px;
  display: grid;
  grid-template-areas:
    'news product'
    'comment product'
    'span product';
  gap: 25px;
  margin-bottom: -25px;

  @media (max-width: 991px) {
    grid-template-areas:
      'news news'
      'product product'
      'comment comment';
  }

  @media (max-width: 768px) {
    padding: 0 4px;
  }

  .page__article {
    grid-area: news;
  }

  .page__comment {
    grid-area: comment;
  }

  .page__product {
    grid-area: product;
  }
}
