.owFilters__rating {
  display: flex;
  margin-top: 8px;
}
.uiCheckbox {
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 8px 0 8px 23px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 8px 0 8px 23px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.owFilters__ratingItem {
  background: #f7f7f7;
  border-radius: 8px;
  padding: 7px 12px 7px 30px;
  white-space: nowrap;
  + {
    .owFilters__ratingItem {
      margin-left: 8px;
    }
  }
  span {
    i {
      color: #ffa319;
      height: 10px;
      width: 10px;
      &::before {
        content: '\2605';
        speak: none;
        display: inline-block;
        font-family: i-icon !important;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 1;
        text-transform: none;
      }
    }
  }
}
.owFilters__ratingItem_count {
  color: #4e4e4e;
  display: inline-block;
  line-height: 16px;
  margin-left: 8px;
}
.uiCheckbox__input {
  height: 0;
  margin: 0 !important;
  opacity: 0;
  position: absolute;
  top: 50%;
}
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}
.uiCheckbox__box {
  background: #fff;
  border: 1px solid #afafaf;
  border-radius: 4px;
  box-sizing: border-box;
  height: 16px;
  left: 0;
  position: absolute;
  top: 10px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.23, 1);
  width: 16px;
}
@media (max-width: 991px) {
  .owFilters__rating {
    margin: 9px -7px 0;
    overflow-x: scroll;
    padding: 0 7px;
    width: calc(100% + 15px);
  }
}
