@import '../../app/styles/mixins.scss';

.chatToggle {
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    background-color: var(--main-color);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .2);
}

.chatToggle:hover {
    cursor: pointer;
}


.chatToggleClosed::after {
    @include background-img('../../app/assets/img/chat/message-icon.svg', 20px, 20px, inline-block);
    margin-top: 5px;
}

.chatToggleOpened::after {
    @include background-img('../../app/assets/img/chat/cross-icon.svg', 20px, 20px, inline-block);
    margin-top: 5px;
}