.product {
  width: 300px;
  color: var(--text-color);
  box-shadow: var(--block-shadow);
  background-color: var(--white);
  border-radius: 16px;
  padding: 24px 20px 16px;

  @media (max-width: 991px) {
    background-color: transparent;
    width: 100%;
    border: none;
    box-shadow: none;
    padding: 0px;
  }
}

.product__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .product--title {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
  }

  .product__link {
    display: inline-block;
    color: #0d61af;

    & i::after {
      font-family: 'i-icon';
      font-style: normal;
      content: '\e932';
    }
  }
}

.product__list {
  height: 1000px;

  @media (max-width: 991px) {
    background-color: var(--white);
    height: 350px;
    box-shadow: var(--block-shadow);
    border-radius: 16px;
  }
}
