.main-header {
    &__subcategories {
        padding: 24px 23px 32px 20px;
        &--first {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        &-name--first {
            display: block;
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 12px;
        }
        &--second {
            display: grid;
            column-gap: 30px;
            row-gap: 5px;
            align-items: baseline;
            grid-template-columns: repeat(3, minmax(auto, 1fr));
            font-size: 14px;
            line-height: 18px;
        }
        &-item-wrapper {
            display: inline-block;
            position: relative;
        }
        &-item--active &-name--second {
            color: var(--main-color);
            cursor: pointer;
        }
        &-name--second {
            display: block;
            word-break: break-all;
        }
        &-info {
            display: inline-flex;
            column-gap: 6px;
            margin: 0 6px;
            color: #6c757d
        }
        &--third {
            top: 0;
            display: block;
            left: calc(100% + 10px);
            width: max-content;
            padding: 24px;
            position: absolute;
            background-color: #fafafa;
            border-radius: 5px;
            z-index: 1000;
            box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
        }
        &--third a {
            display: inline-block;
            padding: 2px 0;
        }
    }
}

.header-link {
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: var(--dark-grey);
}