@import '../../app/styles/mixins.scss';


.chatModal {
    position: relative;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: flex-start;
    width: 360px;
    height: 628px;
    max-height: 630px;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .2);
    transform: translateY(0);
    transition: all .6s ease;
    visibility: visible;
    border-radius: 8px;
    bottom: 115px;
    position: fixed;
    right: 24px;
    transform: none;
}

.chatHeader {
    margin: auto;
    padding: 12px 0 12px 0;
    height: auto;
    text-align: center;
    width: 100%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .05);
}

.chatHeader h2 {
    font-size: 18px;
    font-weight: 400;
}


.chatContentWrapper {
    height: 515px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 54px 15px 15px;
}

.chatMessagePanel {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    min-height: 65px;
    font-size: 0;
    box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, .05);
    background: hsla(0, 0%, 100%, .8);
    border-radius: 0 0 8px 8px;
}

.dropBtn {
    border: none;
    background: transparent;
    @include background-img('../../app/assets/img/chat/clip.svg', 28px, 28px)
}

