.modal {
  z-index: 10;
  position: fixed;
  min-width: 100%;
  max-width: fit-content;
  height: 100%;
  background-color: var(--modal-bg-color);
  display: flex;
  justify-content: center;
  padding-top: 60px;
  animation: open 0.3s forwards;
  top: 0;
  left: 0;

  @keyframes open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
